
  <div class="main-body">
  
       <div>

    <div label="Edit Shortlist" *ngIf="modaltype=='edit'">
		<div><h4>Edit Shortlist</h4></div>
     <div class="divider divider-sm"></div>  
   <div class="divider divider-lg"></div>
  <div style="clear:both; display:none;" class="callouttoken" id="shortlistSuccess">
    <div class="callout callout-success">
    <p>Successfully Added to ShortList :)</p>
  </div>
  </div>
      <section [hidden]="submitted">
       <form name="material_login_form" class="md-form-auth form-validation" (ngSubmit)="onSubmit()" #heroForm="ngForm">
          <fieldset>
            <div class="form-group">
            <div class="row">
          <div class="col-xl-12">
              <md-input-container class="full-width">
                <input required mdInput name="shortlist_name" type="text" [(ngModel)]="model.shortlist_name" name="shortlist_name"
               #shortlist_name="ngModel" placeholder="Shortlist Name">
              </md-input-container>
              </div></div>
            <!--   <div [hidden]="shortlist_name.valid || shortlist_name.pristine"
             class="alert alert-danger">
          Name is required
        </div> -->
            </div>
            <div class="form-group">
            <div class="row">
          <div class="col-xl-12">
              <md-input-container class="full-width">
                <textarea required mdInput [(ngModel)]="model.shortlist_desc" name="shortlist_desc"placeholder="Shortlist Description" rows="7" cols="40"></textarea>
              </md-input-container>
              </div></div>
            </div>
            <div class="row" style="margin-top:25px">
          <div class="col-xl-12">
             <button md-raised-button  type="submit" class="btn-w-md mat-raised-button mat-accent-primary col-xl-12" [disabled]="!heroForm.form.valid" color="primary">Confirm</button>
             </div></div>
            
          </fieldset>
        </form>
      </section>
    </div>
   
  </div>

       

        

     
  </div>

  